<div class="wrapper">
  <div class="sidebar" data-color="white" data-active-color="danger">
    <sidebar-cmp></sidebar-cmp>
  </div>
  <div class="main-panel">
    <navbar-cmp><fixedplugin-cmp></fixedplugin-cmp></navbar-cmp>
    <div class="content">
      <router-outlet></router-outlet>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>
    <footer-cmp></footer-cmp>
  </div>
</div>

