<div class="row" class="container" id="maincontainer">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title">Danh sách Môn học</h4>
        <form class="form-inline my-2 my-lg-0">
          <input
            type="search"
            (ngModelChange)="searchMonhoc(key.value)"
            #key="ngModel"
            ngModel
            name="key"
            id="searchName"
            class="form-control mr-sm-2"
            placeholder="Search ..."
            required
          />
        </form>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <button
            type="button"
            class="btn btn-primary"
            (click)="onOpenModal(null, 'add')"
          >
            Môn học mới</button
          ><span class="sr-only">(current)</span>
          <button (click)="printReport()" type="button" class="btn btn-success">
            Print EXCEL
          </button>
          <button (click)="printpdf()" type="button" class="btn btn-warning">
            Print PDF
          </button>
          <table class="table" id="studenttable">
            <thead class="text-primary">
              <tr>
                <th>ID</th>
                <th>Tên</th>
                <th>Mã Môn học</th>
                <th>Giáo viên phụ trách</th>
                <th>Lịch dạy</th>
                <th>Ca dạy</th>
                <th>Ngày bắt đầu</th>
                <th>Ngày kết thúc</th>
                <th>Số tiết</th>
                <th>Tín chỉ</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let s of monhoc">
                <td>{{ s.id }}</td>
                <td>{{ s.name }}</td>
                <td>{{ s.mamh }}</td>
                <td>{{ s.gvphutrach }}</td>
                <td>{{ s.lichday }}</td>
                <td>{{ s.caday }}</td>
                <td>{{ s.ngaybatdau }}</td>
                <td>{{ s.ngayketthuc }}</td>
                <td>{{ s.sotiet }}</td>
                <td>{{ s.tinchi }}</td>
                <td>
                  <div class="float-right btn-group btn-group-sm">
                    <a
                      (click)="onOpenModal(s, 'edit')"
                      class="btn btn-primary tooltips"
                      data-placement="top"
                      data-original-title="Edit"
                      ><i class="fa fa-pencil"></i>
                    </a>
                    <a
                      (click)="onOpenModal(s, 'delete')"
                      class="btn btn-secondary tooltips"
                      data-placement="top"
                      data-original-title="Delete"
                      ><i class="fa fa-times"></i
                    ></a>
                  </div>
                </td>
              </tr>
              <script src="script.js" defer></script>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Add student Modal -->
<div
  class="modal fade"
  id="addStudentModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="addEmployeeModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addEmployeeModalLabel">Thêm môn học</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form #addForm="ngForm" (ngSubmit)="onAddMonhoc(addForm)">
          <div class="form-group">
            <label for="name">Tên môn hóc</label>
            <input
              type="text"
              ngModel
              name="name"
              class="form-control"
              id="name"
              placeholder="Nhập tên"
              required
            />
          </div>
          <div class="form-group">
            <label for="mamh">Mã Môn học</label>
            <input
              type="text"
              ngModel
              name="mamh"
              class="form-control"
              id="mamh"
              placeholder="Nhập Mã môn học"
              required
            />
          </div>
          <div class="form-group">
            <label for="gvphutrach">Giảng viên phụ trách</label>
            <input
              type="text"
              ngModel
              name="gvphutrach"
              class="form-control"
              id="gvphutrach"
              placeholder="Nhập Giáo viên phụ trách"
              required
            />
          </div>
          <div class="form-group">
            <label for="lichday">Lịch dạy</label>
            <input
              type="text"
              ngModel
              name="lichday"
              class="form-control"
              id="lichday"
              placeholder="Nhập Lịch dạy"
              required
            />
          </div>
          <div class="form-group">
            <label for="caday">Ca dạy</label>
            <input
              type="text"
              ngModel
              name="caday"
              class="form-control"
              id="caday"
              placeholder="Nhập Ca dạy"
              required
            />
          </div>
          <div class="form-group">
            <label for="ngaybatdau">Ngày bắt đầu</label>
            <input
              type="birthday"
              ngModel
              name="ngaybatdau"
              class="form-control"
              id="ngaybatdau"
              placeholder="YYYY-MM-DD"
              required
            />
          </div>
          <div class="form-group">
            <label for="ngayketthuc">Ngày kết thúc</label>
            <input
              type="birthday"
              ngModel
              name="ngayketthuc"
              class="form-control"
              id="ngayketthuc"
              placeholder="YYYY-MM-DD"
              required
            />
          </div>

          <div class="form-group">
            <label for="sotiet">Số tiết</label>
            <input
              type="text"
              ngModel
              name="sotiet"
              class="form-control"
              id="sotiet"
              placeholder="Nhập Số tiết"
              required
            />
          </div>
          <div class="form-group">
            <label for="tinchi">Tín chỉ</label>
            <input
              type="text"
              ngModel
              name="tinchi"
              class="form-control"
              id="tinchi"
              placeholder="Nhập Số tín chỉ"
              required
            />
          </div>
          <div class="modal-footer">
            <button
              type="button"
              id="add-student-form"
              class="btn btn-secondary"
              data-dismiss="modal"
            >
              Đóng
            </button>
            <button
              [disabled]="addForm.invalid"
              type="submit"
              class="btn btn-primary"
            >
              Lưu môn học
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<!-- edit -->
<div
  class="modal fade"
  id="updateStudentModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="employeeEditModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="updateEmployeeModalLabel">
          Chỉnh sửa thông tin: {{ editMonhoc?.name }}
        </h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form #editForm="ngForm">
          <div class="form-group">
            <label for="name">Tên</label>
            <input
              type="text"
              ngModel="{{ editMonhoc?.name }}"
              name="name"
              class="form-control"
              id="name"
              aria-describedby="emailHelp"
              placeholder="Nhập tên"
            />
          </div>
          <input
            type="hidden"
            ngModel="{{ editMonhoc?.id }}"
            name="id"
            class="form-control"
            id="id"
            placeholder="id"
          />
          <div class="form-group">
            <label for="mamh">Mã môn học</label>
            <input
              type="text"
              ngModel="{{ editMonhoc?.mamh }}"
              name="mamh"
              class="form-control"
              id="mamh"
              placeholder="Nhập Mã Môn học"
            />
          </div>
          <div class="form-group">
            <label for="gvphutrach">Giảng viên phụ trách</label>
            <input
              type="text"
              ngModel="{{ editMonhoc?.gvphutrach }}"
              name="gvphutrach"
              class="form-control"
              id="gvphutrach"
              placeholder="Nhập Giảng viên"
            />
          </div>
          <div class="form-group">
            <label for="lichday">Lịch dạy</label>
            <input
              type="text"
              ngModel="{{ editMonhoc?.lichday }}"
              name="lichday"
              class="form-control"
              id="lichday"
              placeholder="Nhập Lịch dạy"
            />
          </div>
          <div class="form-group">
            <label for="caday">Ca dạy</label>
            <input
              type="text"
              ngModel="{{ editMonhoc?.caday }}"
              name="caday"
              class="form-control"
              id="caday"
              placeholder="Nhập ca dạy"
            />
          </div>
          <div class="form-group">
            <label for="ngaybatdau">Ngày bắt đầu</label>
            <input
              type="text"
              ngModel="{{ editMonhoc?.ngaybatdau }}"
              name="ngaybatdau"
              class="form-control"
              id="ngaybatdau"
              placeholder="YYYY-MM-DD"
            />
          </div>
          <div class="form-group">
            <label for="ngayketthuc">Ngày Kết thúc</label>
            <input
              type="text"
              ngModel="{{ editMonhoc?.ngayketthuc }}"
              name="ngayketthuc"
              class="form-control"
              id="ngayketthuc"
              placeholder="YYYY-MM-DD"
            />
          </div>
          <div class="form-group">
            <label for="sotiet">Số tiết</label>
            <input
              type="text"
              ngModel="{{ editMonhoc?.sotiet }}"
              name="sotiet"
              class="form-control"
              id="sotiet"
              placeholder="Nhập Số tiết"
            />
          </div>
          <div class="form-group">
            <label for="tinchi">Tín chỉ</label>
            <input
              type="text"
              ngModel="{{ editMonhoc?.tinchi }}"
              name="tinchi"
              class="form-control"
              id="tinchi"
              placeholder="Nhập Số tín chỉ"
            />
          </div>
          <!-- <div class="form-group">
                <label for="tinhtrang">Tình Trạng</label>
                <input
                  type="text"
                  ngModel="{{ editStudent?.tinhtrang }}"
                  name="tinhtrang"
                  class="form-control"
                  id="tinhtrang"
                  placeholder="tinhtrang"
                />
              </div> -->

          <div class="modal-footer">
            <button
              type="button"
              id=""
              data-dismiss="modal"
              class="btn btn-secondary"
            >
              Đóng
            </button>
            <button
              (click)="onUpdateMonhoc(editForm.value)"
              data-dismiss="modal"
              class="btn btn-primary"
            >
              Lưu thay đổi
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<!-- delet -->
<div
  class="modal fade"
  id="deleteStudentModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="deleteModelLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteModelLabel">Xóa Môn học</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Bạn chắc chắn xóa môn học: {{ deleteMonhocs?.name }}?</p>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">
            Không
          </button>
          <button
            (click)="onDeleteMonhoc(deleteMonhocs.id)"
            class="btn btn-danger"
            data-dismiss="modal"
          >
            Có
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- nofi -->
<div *ngIf="monhoc?.length == 0" class="col-lg-12 col-md-12 col-xl-12">
  <div class="alert alert-info" role="alert">
    <h4 class="alert-heading">KHÔNG TÌM THẤY Môn học</h4>
  </div>
</div>
